_build/
bin/cbits/CMakeFiles
bin/cbits/CMakeCache.txt
bin/cbits/cmake_install.cmake
bin/cbits/compile_commands.json
bin/cbits/.cache
bin/cbits/*.dylib
bin/cbits/coolttviz
bin/cbits/Makefile
bin/cbits/build
bin/cbits/libcoolttviz.a